In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [4]:
in_fname='/Users/davidgroppe/Desktop/Anon_SeizureCounts_20171005/ECOG_SeizureCounts_20170912-Table 1.csv'

In [6]:
# master_df=pd.read_csv(in_fname)
# master_df.head()

In [3]:
in_fname='/Users/davidgroppe/Desktop/Anon_SeizureCounts_20171005/TWH_78-Table 1.csv'
df=pd.read_csv(in_fname)
df.head()

,Seizure #,Date* (natus study),Start Time,End time,Duration (S),Class,COMMENT1,COMMENT2,Unnamed: 8,Seizure Count,Average duration
0,1,7/22/17,2:42:34,NaN,NaN,clinical,overnight July 22-23,NaN,NaN,NaN,NaN
1,2,7/24/17,0:35:45,NaN,NaN,clinical,overnight July 24-25,clinical onset before EEG (00:36:06),NaN,NaN,NaN
2,3,7/24/17,1:50:11,NaN,NaN,clinical,overnight July 24-25,clinical onset before EEG (1:50:38),NaN,NaN,NaN
3,4,7/24/17,2:52:52,NaN,NaN,clinical,overnight July 24-25,clinical onset before EEG (2:53:12),NaN,NaN,NaN
4,5,7/24/17,3:48:33,NaN,NaN,clinical,overnight July 24-25,clinical onset before EEG (background change),NaN,NaN,NaN

In [11]:
# temp_df=df.sort_values(['Start Time','End time'])
# temp_df.head()

In [46]:
# Missing info 81, 78, 74, 73, 69, 57, 1, 2
# Odd: 74 over 100 electrographic events
subs=[80, 79, 77, 76, 75, 72, 71, 70, 67, 66, 65, 64, 63, 62, 61, 59, 58]
n_subs=len(subs)
clin_ct_post=np.zeros((n_subs,2),dtype='int')
any_szr_ct_post=np.zeros((n_subs,2),dtype='int')
for sub_ct, sub in enumerate(subs):
    print('Working on Sub %d' % sub)
    # Load data frame
    in_fname=os.path.join('/Users/davidgroppe/Desktop/Anon_SeizureCounts_20171005/',
                          'TWH_'+str(sub)+'-Table 1.csv')
    df=pd.read_csv(in_fname)
    
    clin_ct=0
    for szr in df['Class']:
        if isinstance(szr,str):
            if szr.lower()=='clinical':
                clin_ct+=1
                if clin_ct>2:
                    any_szr_ct_post[sub_ct,0]+=1
                if clin_ct>3:
                    any_szr_ct_post[sub_ct,1]+=1
            elif szr.lower()=='electrographic':
                if clin_ct>2:
                    any_szr_ct_post[sub_ct,0]+=1
                if clin_ct>3:
                    any_szr_ct_post[sub_ct,1]+=1
            else:
                print('Error: szr class is %s' % szr)
        else:
            print('Warning: szr class is {}'.format(szr))
    print('Sub %d, %d clinical szrs' % (sub_ct, clin_ct))
    clin_ct_post[sub_ct,0]=int(clin_ct-2)
    clin_ct_post[sub_ct,1]=int(clin_ct-3)
    
# Set any negative values to 0
clin_ct_post[clin_ct_post<0]=0

Working on Sub 80
Sub 0, 3 clinical szrs
Working on Sub 79
Warning: szr class is nan
Sub 1, 7 clinical szrs
Working on Sub 77
Sub 2, 9 clinical szrs
Working on Sub 76
Warning: szr class is nan
Sub 3, 10 clinical szrs
Working on Sub 75
Sub 4, 10 clinical szrs
Working on Sub 72
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Sub 5, 2 clinical szrs
Working on Sub 71
Sub 6, 9 clinical szrs
Working on Sub 70
Sub 7, 12 clinical szrs
Working on Sub 67
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Sub 8, 2 clinical szrs
Working on Sub 66
Sub 9, 12 clinical szrs
Working on Sub 65
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Sub 10, 3 clinical szrs
Working on Sub 64
Sub 11, 4 clinical szrs
Working on Sub 63
Sub 12, 18 clinical szrs
Working on Sub 62
Sub 13, 19 clinical szrs
Working on Sub 61
Error: szr class is Clinical
Sub 14, 9 clinical szrs
Working on Sub 59
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Warning: szr class is nan
Sub 15, 1 clinical szrs
Working on Sub 58
Sub 16, 41 clinical szrs

In [34]:
szr
# np.isnan(szr)

'Clinical'

In [47]:
clin_ct_post

array([[ 1,  0],
       [ 5,  4],
       [ 7,  6],
       [ 8,  7],
       [ 8,  7],
       [ 0,  0],
       [ 7,  6],
       [10,  9],
       [ 0,  0],
       [10,  9],
       [ 1,  0],
       [ 2,  1],
       [16, 15],
       [17, 16],
       [ 7,  6],
       [ 0,  0],
       [39, 38]])

In [48]:
any_szr_ct_post

array([[ 1,  0],
       [ 5,  4],
       [10,  8],
       [ 8,  7],
       [ 8,  7],
       [ 0,  0],
       [ 7,  6],
       [10,  9],
       [ 0,  0],
       [11, 10],
       [ 1,  0],
       [ 2,  1],
       [16, 15],
       [40, 39],
       [51, 50],
       [ 0,  0],
       [40, 39]])